@media (min-width: 1280px) {
    .header {
        &__hamburger {
            display: none;
        }
    }
    .menu {
        position: static;
        top: 0;
        right: 0;
        height: 49px;
        flex-direction: row;
        justify-content: end;
        &__mobile {
            display: none;
        }
        & ul {
            margin: 0;
            display: flex;
            align-items: center;
            & li {
                padding: 0 30px;
                border: none;
                border-right: 1px solid $bg-color;
                &:last-child {
                    border-right: none;
                }
            }
        }
    }
    .container {
        padding: 0 160px;
    }
    .header {
        padding: 0 70px;
    }
    .gallery {
        padding-top: 25px;
        &__menu {
            margin-bottom: 25px;
            & button {
                margin-right: 20px;
                padding: 0 75px;
                font-size: 12px;            
            }
        }
    }
    .about {
        &__wrapper {
            display: flex;
            min-height: 671px;
        }
        &__photo {
            min-width: 383px;
        }
        &__descr {
            padding: 50px 85px;
        }
    }
}