@media (min-width: 1280px) {
    .header {
        &__hamburger {
            display: none;
        }
    }
    .menu {
        position: static;
        top: 0;
        right: 0;
        height: 49px;
        flex-direction: row;
        justify-content: end;
        &__mobile {
            display: none;
        }
        & ul {
            margin: 0;
            display: flex;
            align-items: center;
            & li {
                padding: 0 30px;
                border: none;
                border-right: 1px solid $bg-color;
                cursor: pointer;
                &:last-child {
                    border-right: none;
                }
            }
        }
    }
    .container {
        padding: 0 160px;
    }
    .header {
        padding: 0 70px;
    }
    .gallery {
        padding-top: 25px;
        &__menu {
            margin-bottom: 25px;
            & button {
                margin-right: 20px;
                padding: 0 75px;
                font-size: 12px;            
            }
        }
    }
    .about {
        &__wrapper {
            display: flex;
            min-height: 671px;
        }
        &__photo {
            min-width: 383px;
        }
        &__descr {
            padding: 50px 85px;
        }
    }
    .contact {
        &__wrapper {
            display: flex;
        }
        &__photo {
            width: 40%;
            min-height: 100%;
            object-fit: cover;
        }
        &__inner {
            width: 60%;
            display: flex;
            flex-direction: column;
            padding: 60px 92px;
            padding-bottom: 25px;
            background: $white-color;
        }
        &__phone {
            margin-top: 50px;
        }
        &__grid-container {
            grid-template-columns: repeat(4, 1fr);
            gap: 0;
            padding-top: 25px;
        }
        &__social_item {
            display: flex;
            justify-content: space-around;
            padding: 0;
        }
        &__job {
            margin-top: 18px;
            text-align: center;
            & span {
                font-family: $main-font;
                font-style: normal;
                font-weight: normal;
                font-size: 19px;
                line-height: 15px;
                color: $main-color;
            }
            & img {
                margin: 30px auto;
            }
        }
        &__line {
            margin-top: 25px;
            border: 1px solid $main-color;
        }
        &__social {
            margin-top: 15px;
            display: flex;
            flex-direction: column;
            text-align: center;
            &_title {
                font-family: $main-font;
                font-style: normal;
                font-weight: normal;
                font-size: 19px;
                color: $main-color;
            }
            &_icons {
                display: flex;
                justify-content: center;
                margin: 15px;
                & img {
                    padding: 0 10px;
                }
            }
        }
    }
}