@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  margin: 0;
}

html, body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: #D2D2D2;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 100%;
  height: 49px;
  padding: 0 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #354551;
}

.header__logo {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
  z-index: 2;
}

.header__logo::after {
  content: "Photo Gallery";
  margin-left: 6px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  color: #ffffff;
}

.header__hamburger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 30px;
  height: 19px;
  cursor: pointer;
}

.header__hamburger span {
  width: 100%;
  height: 3px;
  background: #ffffff;
}

.container {
  padding: 0 15px;
  padding-bottom: 25px;
  z-index: -1;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  padding-top: 49px;
  height: 100vh;
  width: 70vw;
  right: -100%;
  bottom: 0;
  background-color: #354551;
  -webkit-transition: .4s all;
  transition: .4s all;
  z-index: 1;
}

.menu__mobile {
  position: relative;
  margin-top: 16px;
  text-align: center;
}

.menu__mobile_close {
  position: absolute;
  right: -50px;
  top: -62px;
  font-size: 30px;
  color: #ffffff;
}

.menu__mobile img {
  width: 84px;
  height: 84px;
  border-radius: 100%;
}

.menu__mobile span {
  display: block;
  margin-top: 10px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #D2D2D2;
}

.menu ul {
  margin-top: 20px;
  padding: 0;
  text-align: center;
}

.menu ul li {
  padding: 15px 0;
  border-bottom: 1px solid #D2D2D2;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  text-decoration: none;
  list-style-type: none;
  color: #D2D2D2;
}

.menu ul li:last-child {
  border-bottom: none;
}

.menu_active {
  right: 0;
}

.mobile-menu {
  position: fixed;
  top: 49px;
  right: -100%;
  width: 70%;
  height: 100vh;
  background-color: #354551;
  -webkit-transition: 1s all;
  transition: 1s all;
}

.mobile-menu__header {
  padding: 0 20%;
  padding-top: 16px;
  text-align: center;
}

.mobile-menu__header img {
  width: 84px;
  height: 84px;
  margin: 0 auto;
  border-radius: 100%;
}

.mobile-menu__header span {
  display: block;
  margin-top: 10px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #D2D2D2;
}

.mobile-menu__wrapper {
  margin-top: 55px;
  min-height: 40vh;
}

.mobile-menu__wrapper_item {
  margin: 0 auto;
  padding: 15px 0;
  width: 60%;
  border-bottom: 1px solid #D2D2D2;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  text-align: center;
  color: #D2D2D2;
}

.mobile-menu__wrapper_item:last-child {
  border-bottom: none;
}

.mobile-menu_active {
  right: 0;
}

.gallery {
  padding-top: 15px;
}

.gallery__menu button {
  min-width: 86px;
  height: 26px;
  margin-right: 11px;
  padding: 0 18px;
  border: 0;
  background: #354551;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  color: #ffffff;
}

.gallery__menu button.active {
  background-color: #232C33;
}

.gallery__grid-section {
  margin-top: 15px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(290px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
  gap: 32px;
}

.gallery__wrapper {
  background-color: #ffffff;
  -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}

.gallery__wrapper_img {
  width: 100%;
  height: 170px;
  -o-object-fit: cover;
     object-fit: cover;
}

.gallery__wrapper_header {
  margin-top: 6px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  text-transform: uppercase;
  text-align: center;
}

.gallery__wrapper_subheader {
  margin-top: 6px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  color: #505050;
}

.gallery__fullscreen {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 10;
}

.gallery__fullscreen_hide {
  display: none;
}

.gallery__fullscreen_header {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.gallery__fullscreen_subheader {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  text-align: center;
  color: #ffffff;
}

.gallery__fullscreen_img {
  width: 90%;
}

.contact__photo {
  width: 100%;
}

.contact__wrapper {
  background: #EDEDED;
  -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}

.contact__inner {
  padding-bottom: 25px;
}

.contact__title {
  padding-top: 22px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 22px;
  text-align: center;
  color: #354551;
}

.contact__phone {
  margin-top: 17px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  text-align: center;
}

.contact__phone a {
  color: #354551;
  text-decoration: none;
}

.contact__grid-container {
  padding: 32px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  gap: 18px;
}

.contact__social_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 25px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #ffffff;
  border-radius: 17px;
}

.contact__social_item img {
  cursor: pointer;
}

.contact__job {
  margin-top: 10px;
  text-align: center;
}

.contact__job span {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  line-height: 15px;
  color: #354551;
}

.contact__job img {
  margin: 20px auto;
  cursor: pointer;
}

.contact__line {
  margin: 0 auto;
  margin-top: 25px;
  width: 70%;
  border: 1px solid #354551;
}

.contact__social {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.contact__social_title {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  color: #354551;
}

.contact__social_icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 15px;
  display: flex;
}

.contact__social_icons img {
  padding: 0 10px;
  cursor: pointer;
}

.about__wrapper {
  background-color: #ffffff;
  -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}

.about__photo {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.about__header {
  padding: 23px 0;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  text-align: center;
}

.about__header span {
  font-weight: 700;
}

.about__descr {
  padding: 0 30px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  text-align: justify;
  color: #354551;
}

.about__line {
  margin-top: 25px;
  border: 1px solid #354551;
}

.about__social {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.about__social_title {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  color: #354551;
}

.about__social_icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 15px;
}

.about__social_icons img {
  padding: 0 10px;
}

@media (min-width: 1280px) {
  .header__hamburger {
    display: none;
  }
  .menu {
    position: static;
    top: 0;
    right: 0;
    height: 49px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }
  .menu__mobile {
    display: none;
  }
  .menu ul {
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .menu ul li {
    padding: 0 30px;
    border: none;
    border-right: 1px solid #D2D2D2;
    cursor: pointer;
  }
  .menu ul li:last-child {
    border-right: none;
  }
  .container {
    padding: 0 160px;
  }
  .header {
    padding: 0 70px;
  }
  .gallery {
    padding-top: 25px;
  }
  .gallery__menu {
    margin-bottom: 25px;
  }
  .gallery__menu button {
    margin-right: 20px;
    padding: 0 75px;
    font-size: 12px;
  }
  .about__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 671px;
  }
  .about__photo {
    min-width: 383px;
  }
  .about__descr {
    padding: 50px 85px;
  }
  .contact__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .contact__photo {
    width: 40%;
    min-height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .contact__inner {
    width: 60%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 60px 92px;
    padding-bottom: 25px;
    background: #ffffff;
  }
  .contact__phone {
    margin-top: 50px;
  }
  .contact__grid-container {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    gap: 0;
    padding-top: 25px;
  }
  .contact__social_item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 0;
  }
  .contact__job {
    margin-top: 18px;
    text-align: center;
  }
  .contact__job span {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 15px;
    color: #354551;
  }
  .contact__job img {
    margin: 30px auto;
  }
  .contact__line {
    margin-top: 25px;
    border: 1px solid #354551;
  }
  .contact__social {
    margin-top: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .contact__social_title {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    color: #354551;
  }
  .contact__social_icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 15px;
  }
  .contact__social_icons img {
    padding: 0 10px;
  }
}
/*# sourceMappingURL=style.css.map */